.app {
    background-color: transparent;
    min-height: 80vh;
    width: 30%;
    margin: 20px auto;
}
html, body {
    background-color: #62c2c8;
    font-family: 'Montserrat', sans-serif;
}
.crossed {
    text-decoration: line-through 2px red;
}
ul {
    list-style: none;
    padding: .7rem;
    margin: 0;
    height: auto;
}
.container {
    display: flex;
    justify-content: center;
}
.add {
    background-color: #f8d9f8;
    margin-top: 5px;
}
.delete {
    background-color: #f0e68c;
}
.btn {
    padding: .7rem;
    border: 1px solid;
    border-radius: 4px;
    width: 65%;
    font-weight: bold;
    font-size: 1.1rem;
}
input {
    flex: 1;
    padding: .7rem;
    margin: 1rem;
    font-size: 1.1rem;
    border: 1px solid;
    border-radius: 4px;
    background-color: #c2edf8;
    caret-color: #df5df0;
}
li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .3rem;
}
.imgCheck {
    padding-right: .5rem;
}